## Verification Commands of All Devices
